@import 'normalize.css';

:root {
  --main-white: #f0f0f0;
  --main-black: #303841;
  --main-gray: hsla(212, 15%, 29%, 1);
  --main-blue: rgba(48, 43, 99, 0.8);
  --main-yellow: hsla(47, 100%, 58%, 1);
  --main-text-shadow: 0.5rem 0.5rem 0.25rem rgba(0, 0, 0, 0.75);
  --text-shadow-yellow: 0.5rem 0.5rem 0.25rem hsla(47, 100%, 58%, 0.5);
  --main-box-shadow: 2.5rem 2.5rem 1.25rem 0rem rgba(0, 0, 0, 0.75);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: sans-serif;
  margin: 0 50px;
  background-color: #e5e5e5;
  display: grid;
  grid:
    'header header header header' auto '...... lists  active ......' auto/1fr minmax(
      100px,
      500px
    )
    minmax(25rem, 50rem) 1fr;
}

.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  font-weight: 900;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  margin: 0.5rem 0 0.5rem;
}

.all-tasks {
  grid-area: lists;
}

.task-list {
  font-size: 1.2rem;
  line-height: 1.7;
  list-style: circle;
  padding-left: 1.1em;
}

.list-name {
  cursor: pointer;
}

.todo-list {
  grid-area: active;
}

.app {
  display: grid;
  background-color: #fff;
  border: 5px solid #abcea1;
  border-radius: 8px;
  padding: 15px;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(171, 206, 161, 0.35);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.fa-plus {
  background-color: #abcea1;
  padding: 3px;
  border-radius: 3px;
}

#msg {
  color: red;
}

#tasks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 14px;
}

#tasks div {
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: center;
  display: flex;
  gap: 20px;
}

#tasks div .options i {
  cursor: pointer;
}

[data-priority='low'] {
  border: 3px solid hsla(107, 31%, 72%, 1);
  background-color: hsla(107, 31%, 72%, 0.7);
}

[data-priority='medium'] {
  border: 3px solid hsla(205, 100%, 75%, 1);
  background-color: hsla(205, 100%, 75%, 0.7);
}

[data-priority='high'] {
  border: 3px solid hsla(360, 100%, 57%, 0.3);
  background-color: hsla(360, 100%, 57%, 0.2);
}
